
.text-input {
  width:200px;
  border-radius:5px;
  height:25px;
  background-color:#f7f7f7;
}

.signupForm {
  margin:10px;
  width: 30%;
  border: solid black 2px;
  display:inline-block
}

.signUpLabel,
.signUpButton,
.signUpInput {
  margin:50px;
  border-radius:5px;
}

.signUpButton:hover {
  color:#8FCFDE;
  background-color:#454545
}
