
.recipesDisplayBox {
  display: flex;
  flex-wrap: wrap;
}

.recipeSearchForm {
  margin: 10px auto;
  width: 75%;
  border: solid #454545 2px;
  border-radius: 3px;
  border-top: 25px solid #454545;
  background-color:white;
}

.recipeSearchButton {
  display: block;
  margin: 10px auto;
  border-radius:5px;
  color: #454545;
  width:175px;
  background-color:#8FCFDE;
  height:35px;
}

.addIngredientForm {
  padding-bottom:10px;
  border: solid #454545 2px;
  border-radius: 2px;
  margin: 15px auto;
  width: 75%;
  text-align: center;
  border-top: 25px solid #454545;
  background-color: white;
} 
.addIngredientLabel {
  margin-top: 5px;
  display: inline-block;
  width: 100%;
  height : 25px;
}
.addIngredientInputField {
  width:60%;
  height : 25px;
  display:inline-block;
  margin:5px;
  background-color:rgb(241, 239, 239);
}
.addIngredientButton {
  font-size: 14px;
  text-align: center;
  display:inline-block;
  height : 25px;
  border-radius:5px;
  background-color:#8FCFDE;
  color:#454545
}

.addIngredientButton:hover {
  background-color:#454545;
  color:#8FCFDE;
}
.recipeSearchButton:hover {
  background-color:#454545;
  color:#8FCFDE;
}