
.header {
  border-bottom-style:solid; 
  border-width:7px;
  text-align:center;
  border-color:#454545;
  background-color:#8FCFDE;
  left:0;
  right:0;
  top:0;
}

.headerText {
  color:#454545;
  padding: 5px;
  display:inline-block;
  font-size:40px;
  margin:10px;
}

.navLinkButtons {
  border-radius:5px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  height : 25px;
  background-color:#D3D4D4;
  color:#454545;
}

.navLinkButtons:hover {
  color:#D3D4D4;
  background-color:#454545;
}
