
  
.landingPageBox {
  margin:40px auto;
  background-color:#8FCFDE;
  height: 50vh;
  color:#454545;
  border-radius:5px;
  max-width:600px;
  width:80%;
}

.landingPageHeader {
  text-align: center;
  font-size:150%;
  padding-top:10px;
}

.landingPageBox > .smallPrint {
  text-align: center;
  font-size: 80%;
  margin-top:5px;
  color:#454545;
}

.landingPageBox > .onBoarding {
  margin-top:25px;
  text-align:center;
}

 .buttonStyle {
  display:block;
  margin: 10px auto;
  border-radius:5px;
  color:#454545;
  width:100px;
  height:30px;
 }

 .buttonStyle:hover {
  background-color: #454545;
  color:#D3D4D4;
}